.cor-bg{
   background-color: #ECF3D5;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cor-text{
    color: #253F01;
}
.myButton {
    background-color:#F2A922;
    border-radius:10px;
    border:1px solid #F2A922;
    display:inline-block;
    color:#FFFFFF;
    font-size:13px;
    padding:8px 20px;
    text-decoration:none;
}
.myButton:hover {
    background-color:#D93D04;
}
.myButton:active {
    position:relative;
    top:1px;
}
.hov:hover{
    color: rgb(0, 85, 0);
}
.tm-logo{
    width: 35px;
    margin: 20px;
}