<div class="container-fluid pl-0">
    <div class="row">
        <div class="col-12">
            <img src="https://i.imgur.com/fLVjugV.jpg" class="bg-img" alt="">
        </div>
    </div>
</div>
<div class="container mt-5 mb-4">
    <div class="row justify-content-center">
        <div class="col-3">
            <h3 class="title-parceiros">Nossos Parceiros</h3>
            <p class="text-parceiros mt-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere eleifend".</p>
        </div>

        <div class="col-4">
            <p class="text-parceiros">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo aliquam diam vitae egestas. Nulla placerat sapien sit amet venenatis malesuada. Sed blandit odio eu ligula maximus sodales. Nullam posuere tincidunt eleifend. Integer a ante a turpis varrosius scelerisque. Aliquam varius dolor ac ante fermentum aliquam. Morbi rhoncus eu nunc id molestie. Nullam posuere tincidunt eleifend.</p>
        </div>

        <div class="col-4">
            <p class="text-parceiros">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo aliquam diam vitae egestas. Nulla placerat sapien sit amet venenatis malesuada. Sed blandit odio eu ligula maximus sodales. Nullam posuere tincidunt eleifend. Integer a ante a turpis varrosius scelerisque. Aliquam varius dolor ac ante fermentum aliquam. Morbi rhoncus eu nunc id molestie. Nullam posuere tincidunt eleifend.</p>
        </div>
    </div>

    <div class="row mt-5 align-items-center">
        <div class="col-6 d-flex justify-content-center">
            <a href="https://www.greenpeace.org/brasil/" title="SAIBA MAIS SOBRE O GREENPEACE" target="_blank"><img src="https://i.imgur.com/YTyBObj.png" class="img-parceiros" alt="Foto do logotipo da Greenpeace"></a>
    </div>

    <div class="col-6">

        <h3 class="title-gren">Greenpeace</h3>
        <p class="text-parceiros">O Greenpeace existe porque nosso planeta precisa de quem o defenda. E nós precisamos de você. 
            Algumas pessoas olham para uma floresta e enxergam apenas lucro. Mas há outras milhares mais que vêem uma casa, uma sabedoria, um futuro. Em todo o mundo, defendemos o meio ambiente e as comunidades que dependem de seus recursos, responsabilizando governos e corporações que os ameaçam.</p>
             <div>
               <a href="https://www.greenpeace.org/brasil/" class="myButton" target="_blank">Saiba Mais</a>
            </div>
        </div>
    
    </div>

    <div class="row mt-5 align-items-center">

        <div class="col-6">
            <h3 class="title-gren">ONU</h3>
            <p class="text-parceiros">As Nações Unidas têm representação fixa no Brasil desde 1947. A presença da ONU em cada país varia de acordo com as demandas apresentadas pelos respectivos governos ante a Organização. No Brasil, o Sistema das Nações Unidas está representado por agências especializadas, fundos e programas que desenvolvem suas atividades em função de seus mandatos específicos.</p>
                <div>
                    <a href="https://brasil.un.org/" class="myButton" target="_blank">Saiba Mais</a>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <a href="https://brasil.un.org/" title="SAIBA MAIS SOBRE O GREENPEACE" target="_blank"><img src="https://i.imgur.com/vZAcKi7.png" class="img-parceiros" alt="Foto do logotipo da ONU"></a>
            </div>
    </div>
       
 
</div>

<div class="container-fluid bg-projects">
    <div class="row mt-5 mb-5 d-flex justify-content-center">
        <div class="col-2 mr-4">
            <div class="card card-color" style="width: 14rem;">
                <img src="https://i.imgur.com/LulmsUq.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Climatika</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div>
                    <a href="#" class="myButton" target="_blank">Saiba Mais</a>
                 </div>
                </div>
              </div>
        </div>

        <div class="col-2 mr-4">
            <div class="card card-color" style="width: 14rem;">
                <img src="https://i.imgur.com/1hoIq5O.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gaia</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div>
                    <a href="#" class="myButton" target="_blank">Saiba Mais</a>
                 </div>
                </div>
              </div>
        </div>

        <div class="col-2 mr-4">
            <div class="card card-color" style="width: 14rem;">
                <img src="https://i.imgur.com/cwcNCeW.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">eco.Book</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div>
                    <a href="#" class="myButton" target="_blank">Saiba Mais</a>
                 </div>
                </div>
              </div>
        </div>

        <div class="col-2 mr-4">
            <div class="card card-color" style="width: 14rem;">
                <img src="https://i.imgur.com/1C19ozb.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Baependi</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div>
                    <a href="#" class="myButton" target="_blank">Saiba Mais</a>
                 </div>
                </div>
              </div>
        </div>

        <div class="col-2 mr-4">
            <div class="card card-color" style="width: 14rem;">
                <img src="https://i.imgur.com/62A2BQl.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ecous</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div>
                    <a href="#" class="myButton" target="_blank">Saiba Mais</a>
                 </div>
                </div>
              </div>
        </div>
    </div>

    
    
</div>
