.font-size13 {
    font-size: 13px;
}

.font-size10 {
    font-size: 10px;
}

.color-green {
    color: #253F01;
}

.img-card-size {
    max-height: 11rem;
    width: auto;
}

.margin-top4-5rem {
    margin-top: 4.5rem;
}