<div class="container-fluid">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <div class=" mt-1">
        <h1 class="font-weight-bold fs text-center">Pagamento </h1>
        <div class="margin-start">
            <div class="col-md-9">
                <br>
                
            </div>

            <form>
                <div class="col-md-7 pr-4">
                    <div class="form-group mt-2">
                        <label for="exampleFormControlInput1">Endereço de Entrega</label>
                        <input class="form-control" id="exampleFormControlInput1">
                    </div>
                </div>

                <div class="col-md-7 pr-4">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Cidade</label>
                        <input  class="form-control" id="exampleFormControlInput1">
                    </div>
                </div>

                <div class="col-md-7 pr-4">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Estado</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>AC</option> 
                        <option>AL</option>
                        <option>AP</option> 
                        <option>AM</option> 
                        <option>BA</option>
                        <option>CE</option>
                        <option>DF</option>
                        <option>ES</option> 
                        <option>GO</option> 
                        <option>MA</option>
                        <option>MT</option>
                        <option>MS</option> 
                        <option>MG</option>
                        <option>PA</option>
                        <option>PB</option>
                        <option>PR</option> 
                        <option>PE</option> 
                        <option>PI</option> 
                        <option>RJ</option> 
                        <option>RN</option>
                        <option>RS</option>  
                        <option>RO</option>  
                        <option>RR</option> 
                        <option>SC</option> 
                        <option>SP</option>
                        <option>SE</option> 
                        <option>TO</option> 
                    </select>
                  </div>
                </div>

                <div class="col-md-7 pr-4">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">CEP</label>
                        <input  class="form-control" id="exampleFormControlInput1" placeholder="00000-000">
                    </div>
                </div>

            </form>
            
        </div>
    </div>
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="myButton mt-2  " id="pills-home-tab" data-toggle="pill" href="#pills-home"
           role="tab" aria-controls="pills-home" aria-selected="true">  
            <i class="fa fa-barcode" aria-hidden="true"></i> </a>
        </li>
        <li class="nav-item">
            <a class="myButton mt-2 " id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
             role="tab" aria-controls="pills-profile" aria-selected="false"> 
                <i class="fa fa-credit-card-alt" aria-hidden="true"></i> </a>
            
        </li>
        <li class="nav-item">
          <a class="myButton mt-2 " id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
           role="tab" aria-controls="pills-contact" aria-selected="false"> <span class="material-icons">
            pix
            </span>  </a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade  show active d-flex justify-content-center" id="pills-home"
         role="tabpanel" aria-labelledby="pills-home-tab">
            Os boletos gerados devem ser pagos em até 3 dias úteis. Aguarde confirmação por email</div>

        <div class="tab-pane fade d-flex justify-content-center" id="pills-profile" role="tabpanel"
         aria-labelledby="pills-profile-tab">2</div>

        <div class=" tab-pane fade  d-flex justify-content-center  " id="pills-contact" role="tabpanel"
         aria-labelledby="pills-contact-tab">3</div>

      </div>
 

</div>
    