<div class="navbar-color">


<nav class=" text-t navbar-color navbar navbar-expand-lg navbar-dark  ">
  <img class="logo" src="https://i.imgur.com/saNzsxi.png" alt="logo">

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <!-- *<i class="fa fa-search" aria-hidden="true"></i> */ -->
    
    
  </form>

 

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Brainstorm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acount</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>


      </ul>
      
    
    </div>
  </div>
  </nav>
</div>