<nav class="navbar navbar-expand-lg ">
  <a routerLink="/home">
    <img class="logo mr-0" src="https://i.imgur.com/saNzsxi.png" alt="logo">
    <h6></h6>
    
  </a>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <h6 class="ml-0  align-items-center nav a action">Action For Life</h6>
        <li class="nav-item active">
          <a class="nav-link mx-2" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/about">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/products">
            Produtos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#ideias">Faça Parte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/contact">Contato</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center align-text-bottom">
        <li>
          <div class="row mx-3 d-flex text-center align-text-center align-items-center">
            <img *ngIf="logado()" class="imgUser" src="{{authService.userDados().photo}}" alt="">
            <h6 *ngIf="logado()" class="ml-2 mt-2"> Olá {{authService.userDados().name}}! </h6>
          </div>
        </li>
        <li class="nav-item">
          <a *ngIf="deslogado()" class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a *ngIf="deslogado()" class="nav-link" routerLink="/registration">Criar Conta</a>
        </li>
        <li class="nav-item pl-3">
          <a *ngIf="logado()" class="m-0 font-weight-bolder fs-15" (click)='exit()'>Sair<i class="fa fa-sign-out"
              aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <a routerLink='/carrinho'><i class="fa fa-shopping-cart ml-3" aria-hidden="true"></i></a>
  </div>
</nav>