<div class="container mt-5 px-0 bg-degrade ">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center md-3 cor-text"><img src="https://i.imgur.com/saNzsxi.png" class="tm-logo img-fluid" alt="Logo"> Action For Life</h1>
            <p class="text-center mar-action">A nossa ideia é fazer com que nosso e-commerce seja mais que uma plataforma de vendas. Na verdade, vão ter produtos que são unicamente para você escolher e pagar um valor simbólico. </p>
        </div>
    </div>

    <div class="row mt-about">
        <div class="col-sm-5">
            <h1>Sobre</h1>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus pretium dolor. Nullam convallis mollis felis, et pharetra ipsum fringilla nec. In at mi nisi. Nunc ullamcorper sed magna et accumsan. Praesent in congue neque, at feugiat lectus. Ut fermentum congue dapibus. Donec cursus vitae nisi eget sagittis.</p>
        </div>
        
            <div class="col-md-3 ol-md-4 ml-auto">
                <img src="https://i.imgur.com/dKHqVNb.jpg" class="img-about" alt="">
            </div>
    
            <div class="col-md-3 ol-md-4 ml-auto">
                <img src="https://i.imgur.com/iq4l7tc.jpg" class="img-about" alt="">
            </div>

    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-6 d-flex justify-content-center ">
            <div class="card align-items-center" style="width: 20rem; " >
                <img src="https://i.imgur.com/CfVflIS.png" class="card-img-top size-img" alt="...">
                <div class="card-body">
                    <h3>Visão</h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <div class="card align-items-center" style="width: 20rem;">
                <img src="https://i.imgur.com/mu5c3zO.png" class="card-img-top size-img-2" alt="...">
                <div class="card-body ">
                    <h3>Valores</h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>
